.cards_loader {
  text-align: center;

  &-title {
    padding: 20px;
  }

  &--items {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include lg {
      display: initial;
    }
  }

  &-item {
    display: grid;
    padding: 20px;
  }
}