.cardinfo {
  overflow-y: auto;
  margin: 0 auto;
  min-height: 300px;
  max-height: 480px;
  width: 500px;
  padding: 20px 50px;
  text-align: center;
  background-color: $background-color;
  color: $text-primary;
  @include animationIn;
  @include shadow;

  @include lg {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 360px;
  }

  &--title {
    margin-top: 5px;
    letter-spacing: 1px;
  }


  &--details {
    text-align: left;

    &-info {
      margin-top: 10px;
      margin-bottom: 10px;
      opacity: 60%;
      letter-spacing: 0.8px;
    }

    &-text {
      letter-spacing: 1px;
    }

  }
}
